body{
    background-color: hsl(212, 45%, 89%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:outfit;
    height:90vh;
    display:flex;
}

img{
    width: 280px;
}
div{
    width: 280px;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    font-family:"Outfit",sans-serif;
}

p{
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}

h1{
    font-size: 22px;
    color:hsl(218, 44%, 22%);
}

